* {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
  }
 
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color:skyblue;
    padding: 10px;
  }
a{
	display:grid;
	height:60px;
	width:240px;
	background:pink;
	position:center;
	margin:auto;
	left:0;
	right:0;
	top:0;
	bottom:0;
	place-items:center;
	font-family:"poppins", sans-serif;
	color:black;
	font-size:18;
	font-weight:500;
	text-decoration:none;
	letter-spacing:0px;
	border-radius:5px;
	}
.btn{
  border: 1px solid #3498db;
  background: none;
  padding: 10px;
  font-size: 15px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}
.btn1{
  color: #3498db;
}
.btn1:hover{
  color: #fff;
}
.btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #dd0021;
  z-index: -1;
  transition: 0.8s;
}
.btn1::before{
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn1:hover::before{
  height: 180%;
}
/* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color:black;
  }